/* https://github.com/brunoanesio/waybar-config */

@define-color foreground #9DB9F5;
@define-color background rgba(14, 33, 51, 0.5);
@define-color background_tooltip rgba(14, 33, 51, 0.8);
@define-color hover rgba(19, 42, 64, 0.8);
@define-color border rgba(38, 79, 120, 0.5);

@define-color gold #dfb46a;
@define-color gold_alt #D39834;
@define-color blue #6A95DF;
@define-color blue_alt #4f73b8;

@define-color red #e06c75;

* {
  min-height: 0;
  min-width: 0;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 13px;
  font-weight: 600;

}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
  padding: 0.1rem 0.6rem;
  margin: 0 0.25rem 0 0.25rem;
  border-radius: 4px;
  color: @foreground;
	background: @background;
  box-shadow: none;
  text-shadow: none;
  border: 1px solid @border;
  transition: none;
}

#workspaces button:hover {
  background-color: @hover;
}

#workspaces button.active {
  background-color: @hover;
	color: @gold;
}

#workspaces button.urgent {
  background-color: @background;
  color: @red;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#custom-timer,
#custom-microphone,
#cpu,
#tray,
#memory,
#window,
#mpris,
#battery,
#bluetooth,
#network,
#idle_inhibitor,
#backlight-slider,
#custom-privacy-dots {
  padding: 0.1rem 0.6rem;
  margin: 0 0.25rem 0 0.25rem;
  border-radius: 4px;
  border: 1px solid @border;
	background: @background;
}

#mpris.playing {
  color: @foreground;
}

#mpris.paused {
  color: @foreground;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @foreground;
}

#memory {
  color: @foreground;
}

#clock {
  color: @foreground;
}

#clock.simpleclock {
  color: @foreground;
  font-feature-settings: "tnum";
}

#window {
  color: @foreground;
}

#pulseaudio {
  color: @foreground;
}

#pulseaudio.muted {
  color: @foreground;
}

#custom-logo {
  color: @foreground;
}

#custom-power {
  color: @foreground;
}

#battery {
  color: @foreground;
}

#battery.charging {
  color: @blue_alt;
}

#battery.warning {
  color: @gold_alt;
}

#battery.critical {
  color: @red;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Optional: Define a blinking animation for critical state */
@keyframes blink {
  to {
  color: @foreground;
  }
}

#idle_inhibitor {
  color: @gold;
}

#bluetooth {
  color: @foreground;
}

#network {
  color: @foreground;
}

#custom-timer {
  color: @foreground;
}

#custom-microphone {
  color: @gold;
}

#custom-privacy-dots {
  padding: 0 10px;
  font-size: 12px;
  letter-spacing: 0px;
	color: gold
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: red;
}

tooltip {
  background-color: @background_tooltip;
  border: 1px solid @border;
}
