/* https://github.com/brunoanesio/waybar-config */

@define-color foreground #9DB9F5;
@define-color background rgba(14, 33, 51, 0.8);
@define-color background_tooltip rgba(14, 33, 51, 0.8);
@define-color hover rgba(19, 42, 64, 1);
@define-color border rgba(38, 79, 120, 1);

@define-color gold #dfb46a;
@define-color gold_alt #D39834;
@define-color blue #6A95DF;
@define-color blue_alt #4f73b8;
@define-color red #e06c75;

* {
  min-height: 0;
  min-width: 0;
  color: @foreground;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: transparent;
}

#workspaces button,
#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#custom-timer,
#custom-workspace-windows,
#custom-microphone,
#cpu,
#tray,
#memory,
#custom-ram-alert,
#window,
#mpris,
#battery,
#bluetooth,
#network,
#idle_inhibitor,
#backlight-slider,
#custom-privacy-dots {
  padding: 0.1rem 0.6rem;
  margin: 0 0.25rem;
  border: 1px solid @border;
  border-radius: 8px;
  background: @background;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

#workspaces button:hover,
#workspaces button.active,
#clock:hover,
#pulseaudio:hover,
#custom-logo:hover,
#custom-power:hover,
#custom-spotify:hover,
#custom-notification:hover,
#custom-timer:hover,
#custom-workspace-windows:hover,
#custom-microphone:hover,
#cpu:hover,
#tray:hover,
#memory:hover,
#custom-ram-alert:hover,
#window:hover,
#mpris:hover,
#battery:hover,
#bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#backlight-slider:hover,
#custom-privacy-dots:hover {
  background-color: @hover;
}

#workspaces button.active,
#workspaces button.active *,
#idle_inhibitor,
#custom-microphone {
  color: @gold;
}

#workspaces button.urgent,
#custom-ram-alert.critical,
#battery.critical {
  color: @red;
}

#clock.simpleclock {
  font-feature-settings: "tnum";
}

window#waybar.empty #window {
  background-color: transparent;
}

#battery.charging {
  color: @blue_alt;
}

#battery.warning {
  color: @gold_alt;
}

#battery.critical {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @foreground;
  }
}

#custom-privacy-dots {
  padding: 0 10px;
  color: gold;
  font-size: 12px;
  letter-spacing: 0;
}

tooltip {
  border: 1px solid @border;
  background-color: @background_tooltip;
}
